.blog-item {
    position: relative;
    .bg-layer {
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 100%;
        background-color: black;
        opacity: .8;
    }
    img {
        position: static;
        width: 100%;
        height: 300px;
    }
    .blog-item-title {
        position: absolute;
        top: 30%;
        left: 25%;
        right: 25%;
        color: #ffffff;
        text-align: center;
        font-size: var(--font-size7);
        line-height: 30px;
    }
}

.comments {
    border-bottom: 2px solid var(--text-gold);
    margin: 10px 0 10px 0;
    padding: 10px 0;
}

.comment-btn {
    padding: 6px 15px;
    border-radius: 5px;
    color: #ffffff;
    background-color: var(--text-gold);
}

.comments-list {
    margin-top: 30px;
    .comment-item {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .blog-item-title {
        top: 30%;
        left: 1% !important;
        right: 1% !important;
    }
}
