.home-bg {
    position: relative;

    img {
        position: static;
        min-width: 100%;
        height: 100%;
    }

    p {
        position: absolute;
        top: 30%;
        left: 5%
    }
}

.slides-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.slides-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
iframe {
    width: 100%;

}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    line-height: 26px;
}

.hero-item {
    font-weight: bold;
    line-height: 40px;
    font-size: var(--font-size5);
}

.section-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    font-weight: 600;
    color: var(--text-color);
}
.section-title:before,
.section-title:after {
    content: "";
    display: block;
    width: calc(100% / 5);
    height: 2px;
    background: var(--bg-component-1);
}

.icon-Union:before {
    content: "\e919";
    color: #000;
}
.icon-specification-1:before {
    content: "\e914";
    font-size: 80px;
    border: 2px solid var(--text-gold);
    border-radius: 50%;
    color: var(--text-gold);
}
.icon-specification-2:before {
    content: "\e915";
    font-size: 80px;
    border: 2px solid var(--text-gold);
    border-radius: 50%;
    color: var(--text-gold);
}
.icon-specification-3:before {
    content: "\e916";
    font-size: 80px;
    border: 2px solid var(--text-gold);
    border-radius: 50%;
    color: var(--text-gold);
}
.icon-email-icon:before {
    content: "\e904";
    font-size: 22px;
    color: var(--contact-icon);
}
.icon-map-icon:before {
    content: "\e909";
    font-size: 22px;
    color: var(--contact-icon);
}
.icon-phone-icon:before {
    content: "\e90f";
    font-size: 22px;
    color: var(--contact-icon);
}
.icon-Union:before {
    content: "\e919";
    color: var(--text-gold);
    font-size: 16px;
}
.icon-news-user:before {
    content: "\e90e";
    font-size: 15px;
    color: var(--text-gold);
}
.icon-news-calendar:before {
    content: "\e90c";
    font-size: 15px;
    color: var(--text-gold);
}
.icon-news-eye:before {
    content: "\e90d";
    font-size: 15px;
    color: var(--text-gold);
}
