.home-bg {
    height: 100vh;
    position: relative;
    background-image: url("/resources/images/icons/background/Fon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.slides-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.video {
    background-image: url("/resources/images/icons/play-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    line-height: 26px;
}

.hero-item {
    font-weight: bold;
    line-height: 40px;
    font-size: var(--font-size5);
}
.hero-item::before {
    content: url("/resources/images/icons/Union.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 10px;
    height: 10px;
}
.section-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    font-weight: 600;
    color: var(--text-color);
}
.section-title:before,
.section-title:after {
    content: "";
    display: block;
    width: calc(100% / 5);
    height: 2px;
    background: var(--bg-component-1);
}
