body{
    --bg-color: #{$bg-light};
    --bg-invert: #{$bg-invert-light};
    --bg-grayscale: #{bg-grayscale-light};

    --text-color: #{$text-light};
    --text-mute: #{$text-mute-light};
    --text-menu: #{$text-menu-light};
    --text-link: #{$text-link-light};
    --text-link-hover: #{$text-link-hover-light};
    --text-gold: #{$text-gold-light};
    --text-note: #{$text-note-light};

    --bg-component-1: #{$bg-component-light-1};
    --bg-component-2: #{$bg-component-light-2};
    --bg-component-3: #{$bg-component-light-3};
    --bg-component-4: #{$bg-component-light-4};
    --bg-component-5: #{$bg-component-light-5};
    --bg-component-6: #{$bg-component-light-6};
    --bg-component-7: #{$bg-component-light-7};
    --bg-component-8: #{$bg-component-light-8};

    --border-color-1: #{$border-color-light-1};
    --border-color-2: #{$border-color-light-2};
    --border-color-3: #{$border-color-light-3};
    --border-color-4: #{$border-color-light-4};
    --border-color-5: #{$border-color-light-5};
    --border-color-6: #{$border-color-light-6};
    --border-color-7: #{$border-color-light-7};
    --border-color-8: #{$border-color-light-8};

}

body.light{
    --bg-color: #{$bg-light};
    --bg-invert: #{$bg-invert-light};
    --bg-grayscale: #{bg-grayscale-light};

    --text-color: #{$text-light};
    --text-mute: #{$text-mute-light};
    --text-menu: #{$text-menu-light};
    --text-link: #{$text-link-light};
    --text-link-hover: #{$text-link-hover-light};
    --text-gold: #{$text-gold-light};
    --text-note: #{$text-note-light};

    --bg-component-1: #{$bg-component-light-1};
    --bg-component-2: #{$bg-component-light-2};
    --bg-component-3: #{$bg-component-light-3};
    --bg-component-4: #{$bg-component-light-4};
    --bg-component-5: #{$bg-component-light-5};
    --bg-component-6: #{$bg-component-light-6};
    --bg-component-7: #{$bg-component-light-7};
    --bg-component-8: #{$bg-component-light-8};

    --border-color-1: #{$border-color-light-1};
    --border-color-2: #{$border-color-light-2};
    --border-color-3: #{$border-color-light-3};
    --border-color-4: #{$border-color-light-4};
    --border-color-5: #{$border-color-light-5};
    --border-color-6: #{$border-color-light-6};
    --border-color-7: #{$border-color-light-7};
    --border-color-8: #{$border-color-light-8};
    --border-color-9: #{$border-color-light-9};

    --nav-icons: #{$nav-icon-light};
    --accessibility-icon: #{$accessibility-icon-light};
    --accessibility-bg-icon: #{$accessibility-icon-bg-light};
    --contact-icon: #{$contact-icon-light};

    --mask-color: #{$mask-color-light};
    --slider-color: #{$slider-color-light};
    --btn-bg: #{$btn-bg-light};
    --nav-shadow: #{$nav-shadow-light};
    --footer-shadow: #{$footer-shadow-light};
}

body.dark{
    --bg-color: #{$bg-dark};
    --bg-invert: #{$bg-invert-dark};
    --bg-grayscale: #{bg-grayscale-dark};

    --text-color: #{$text-dark};
    --text-mute: #{$text-mute-dark};
    --text-menu: #{$text-menu-dark};
    --text-link: #{$text-link-light};
    --text-link-hover: #{$text-link-hover-dark};
    --text-gold: #{$text-gold-dark};
    --text-note: #{$text-note-dark};

    --bg-component-1: #{$bg-component-dark-1};
    --bg-component-2: #{$bg-component-dark-2};
    --bg-component-3: #{$bg-component-dark-3};
    --bg-component-4: #{$bg-component-dark-4};
    --bg-component-5: #{$bg-component-dark-5};
    --bg-component-6: #{$bg-component-dark-6};
    --bg-component-7: #{$bg-component-dark-7};
    --bg-component-8: #{$bg-component-dark-8};

    --border-color-1: #{$border-color-dark-1};
    --border-color-2: #{$border-color-dark-2};
    --border-color-3: #{$border-color-dark-3};
    --border-color-4: #{$border-color-dark-4};
    --border-color-5: #{$border-color-dark-5};
    --border-color-6: #{$border-color-dark-6};
    --border-color-7: #{$border-color-dark-7};
    --border-color-8: #{$border-color-dark-8};
    --border-color-9: #{$border-color-dark-9};

    --nav-icons: #{$nav-icon-dark};
    --accessibility-icon: #{$accessibility-icon-dark};
    --accessibility-bg-icon: #{$accessibility-icon-bg-dark};
    --contact-icon: #{$contact-icon-dark};

    --mask-color: #{$mask-color-dark};
    --slider-color: #{$slider-color-dark};
    --btn-bg: #{$btn-bg-dark};
    --nav-shadow: #{$nav-shadow-dark};
    --footer-shadow: #{$footer-shadow-dark}

}
