body {
    margin: 0;
    font-family: "Proxima Nova Cn Lt", sans-serif;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    background: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .4s;
    z-index: 1 !important;
    visibility: hidden;
}
.icon-arrow-top:before {
    content: "\e901";
    background-color: var(--text-gold);
    border-radius: 50%;
    padding: 20px;
    color: #ffffff;
    font-size: 22px;
}
.to-top.active {
    cursor: pointer;
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.lds-roller {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: #000;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
    background-color: var(--text-color);
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
    background-color: var(--text-color);
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
    background-color: var(--text-color);
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
    background-color: var(--text-color);
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
    background-color: var(--text-color);
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
    background-color: var(--text-color);
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    background-color: var(--text-color);
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
    background-color: var(--text-color);
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button {
    color: #ffffff;
    background: #DCBF85;
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    width: 100%;
    &:hover {
        opacity: 0.8;
    }
}
label {
    line-height: 24px;
    color: var(--text-color)
}

input {
    border-color: var(--border-color-9) !important;
    border-radius: 5px !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.text-note {
    font-size: var(--font-size3);
    color: var(--text-note);
    line-height: 24px;
}

.icon-speaker-icon:before {
    z-index: 9999999;
    content: "\e912";
    font-size: 20px;
    padding: 10px;
    border: 2px solid #546fff;
    border-radius: 50%;
    color: #546fff;
}
.icon-search:before {
    content: "\e911";
    font-size: 20px;
    color: var(--nav-icons);
}
.icon-close-icon:before {
    content: "\e902";
    color: var(--nav-icons);
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--text-note);
}


