body {
    margin: 0;
    font-family: "Proxima Nova Lt", sans-serif;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    background: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .4s;
    z-index: 1 !important;
    visibility: hidden;

}
.icon-arrow-top:before {
    content: "\e901";
    color: #ffffff;
    font-size: 22px;
    padding: 20px;
    background-color: var(--text-gold);
    border-radius: 50%;
}
.to-top.active {
    cursor: pointer;
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    &:hover {
        opacity: .8;
    }
}



.button {
    color: #ffffff;
    background: #DCBF85;
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    width: 100%;
    &:hover {
        opacity: 0.8;
    }
}
label {
    line-height: 24px;
    color: var(--text-color)
}

input[type='text'] {
    border-color: var(--border-color-9) !important;
    border-radius: 5px !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.text-note {
    font-size: var(--font-size3);
    color: var(--text-note);
    line-height: 24px;
}

.icon-speaker-icon:before {
    z-index: 9999999;
    content: "\e912";
    font-size: 20px;
    padding: 7px;
    border: 2px solid #546fff;
    border-radius: 50%;
    color: #546fff;
}
.icon-search:before {
    content: "\e911";
    font-size: 20px;
    color: var(--nav-icons);
}
.icon-close-icon:before {
    content: "\e902";
    color: var(--nav-icons);
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--text-note);
}

.lds-roller {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: #000;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
}
.lds-roller img {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes lds-roller {
    0% {
        transform: scale(2);
    }
    10% {
        transform: scale(2.1);
    }
    20% {
        transform: scale(2.2);
    }
    30% {
        transform: scale(2.3);
    }
    40% {
        transform: scale(2.4);
    }
    50% {
        transform: scale(2.5);
    }
    60% {
        transform: scale(2.4);
    }
    70% {
        transform: scale(2.3);
    }
    80% {
        transform: scale(2.2);
    }
    90% {
        transform: scale(2.1);
    }
    100% {
        transform: scale(2);
    }
}
