.accessibility-window{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 1002;

    &.active{
        display: flex;
        height: 100%;
        width: 100%;
    }

    &.active > .accessibility-modal{
        width: 290px;
    }

    &.active > .accessibility-bg{
        width: calc(100% - 290px);
    }

    .accessibility-bg{
        position: fixed;
        width: 0;
        opacity: 0.8;
        background: var(--mask-color);
        left: 0;
        top: 0;
        height: 100%;
    }

    .accessibility-modal{
        position: fixed;
        width: 0;
        background: var(--bg-color);
        right: 0;
        top: 0;
        height: 100%;
        box-shadow: var(--footer-shadow);
        .accessibility-header{
            display: flex;
            padding-top: 20px;
            padding-right: 10px;
            padding-left: 20px;
            padding-bottom: 20px;
            border-bottom: 2px solid $text-gold-light;
            justify-content: center;
            align-items: center;

            .accessibility-header-title{
                color: $text-mute-light;
                font-size: 20px;
                line-height: 24px;
            }

            .accessibility-header-close{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: 15px;
                cursor: pointer;
            }
        }

        .accessibility-body {
            padding: 20px;
            transition: .5s ease-in-out;
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 26px;
            }
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                top: 2px;
                background-color: var(--slider-color);
                -webkit-transition: .4s;
                transition: .4s;
            }
            input:checked + .slider:before {
                -webkit-transform: translateX(30px);
                -ms-transform: translateX(30px);
                transform: translateX(30px);
            }
            .slider.round {
                border-radius: 34px;
                background-color: #fff;
                border: 1px solid var(--bg-component-4);
            }
            .slider.round:before {
                border-radius: 50%;
            }

            input[type="range"] {
                -webkit-appearance: none;
                height: 12px;
                border-radius: 5px;
                border: 1px solid var(--border-color-9);
                background-size: 0% 100%;
                background: #ffffff linear-gradient(to right, var(--slider-color), var(--slider-color)) no-repeat;
            }
            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                cursor: pointer;
                transition: background .3s ease-in-out;
                background: var(--slider-color) no-repeat;
            }
            input[type="range"]::-moz-range-thumb {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                cursor: pointer;
                transition: background .3s ease-in-out;
            }
            input[type="range"]::-ms-thumb {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                cursor: pointer;
                transition: background .3s ease-in-out;
            }
            input[type=range]::-webkit-slider-runnable-track  {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
            }
            input[type=range]::-moz-range-track {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
                margin-top: -12px;
            }
            input[type="range"]::-ms-track {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
                margin-top: -12px;
            }
            button {
                padding: 5px 18px 5px 18px;
                background-color: var(--btn-bg);
                color: var(--text-gold);
                border-radius: 30px;
            }
            .active {
                border-bottom: 1px solid var(--text-color);
            }
        }

    }


}

.theme-icon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.primary {
    background-color: var(--accessibility-bg-icon);
    color: var(--accessibility-icon);
}
.grayscale {
    background-color: #484848;
    color: #ffffff;
}
.invert {
    background-color: #ffffff;
    color: #000000;
}

.lang-icon {
    font-weight: 900;
    cursor: pointer;
    color: var(--text-color);
    &:hover {
        opacity: .8;
    }

}


.accessibility-icon:before {
    color: var(--accessibility-icon);
    background-color: var(--accessibility-bg-icon);
    border-radius: 50%;
    padding: 10px;
}

.icon-light-icon:before {
    content: "\e908";
}
.icon-dark-icon:before {
    content: "\e903";
}
.icon-mute-icon:before {
    content: "\e90b";
}
.icon-volume-icon:before {
    content: "\e91b";
}
.icon-font-size-icon:before {
    content: "\e906";
}
.icon-mobile-icon:before {
    content: "\e90a";
}
.icon-special:before {
    content: "\e913";
}
.icon-user-logo-icon:before {
    content: "\e91a";
    font-weight: 900;
}

