footer {
    box-shadow: var(--footer-shadow);
    padding-top: 50px;
    color: var(--text-color);
    margin-top: 100px;

    .border-bottom {
        border-bottom: 2px solid var(--text-gold);
        padding-bottom: 20px;
    }

    .footer-menu {
        input[type='radio'] {
            -webkit-appearance: none;
            appearance: none;
            border-radius: 50px !important;
            border-color: var(--text-gold) !important;
            color: var(--text-gold) !important;
            outline-color: var(--text-gold);
        }

        .footer-menu-ul {

            color: var(--text-menu);

            .footer-menu-li {

                .footer-menu-link {
                    font-size: var(--font-size4);
                    font-weight: bold;
                    line-height: 24px;
                    position: relative;
                    color: var(--text-menu);

                    &:after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 0;
                        bottom: -5px;
                        height: 2px;
                        margin: 1px 0;
                        left: 0;
                        background-color: #DCBF85;
                        transition: all 0.4s ease-in 0s;
                    }

                    &:hover:after {
                        width: 100%;
                    }
                }
            }
        }

    }

    .icon-telegram:before {
        content: "\e917";
        color: var(--text-gold);
        font-size: 20px;
    }

    .icon-twitter:before {
        content: "\e918";
        color: var(--text-gold);
        font-size: 20px;
    }

    .icon-facebook:before {
        content: "\e905";
        color: var(--text-gold);
        font-size: 20px;
    }

    .icon-instagram:before {
        content: "\e907";
        color: var(--text-gold);
        font-size: 20px;
    }

    input[type='text'] {
        border-color: var(--border-color-9) !important;
        border-radius: 5px !important;
        background-color: var(--bg-color);
    }
}

