@import "search";
@import "icons";
@import "accessibility";
@import "animations";

.navbar {
    width: 100%;
    box-shadow: var(--nav-shadow);
    background-color: var(--bg-color);
    position: sticky;
    z-index: 999;
    top: 0;

    .container {
        .navbar-logo {
            padding-bottom: 12px;
            padding-top: 12px;

            img {
                width: auto;
                height: 40px;
            }
        }

        .navbar-menu {
            margin-left: 50px;

            .navbar-menu-ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: var(--text-menu);

                .navbar-menu-li {
                    height: 64px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                    margin-right: 10px;

                    .navbar-menu-link {
                        font-size: var(--font-size3);
                        line-height: 24px;
                        position: relative;
                        color: var(--text-menu);
                        font-weight: 400;

                        &:after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            width: 0;
                            bottom: 0;
                            height: 2px;
                            margin: 1px 0;
                            left: 0;
                            background-color: #DCBF85;
                            transition: all 0.4s ease-in 0s;
                        }

                        &:hover:after {
                            width: 100%;
                        }
                    }

                    &:hover {
                        .submenu {
                            display: flex;
                        }
                    }

                    .submenu {
                        display: none;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 64px;
                        background: var(--bg-color);
                        padding: 15px;
                        z-index: 800;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                        border-top: $bg-component-light-1 solid 2px;

                        .submenu-menu {
                            margin-left: 173px;
                            border-left: var(--text-gold) solid 2px;
                            display: flex;
                            flex-direction: row;

                            .submenu-row {
                                display: flex;
                                width: 100%;

                                .submenu-col {
                                    width: 25%;

                                    .submenu-ul {

                                        .submenu-li {
                                            display: flex;
                                            margin-left: 10px;
                                            padding-left: 0;
                                            width: auto;
                                            margin-top: 10px;
                                            margin-bottom: 10px;

                                            .submenu-link {
                                                position: relative;
                                                font-size: var(--font-size3);
                                                color: var(--text-color);
                                                font-weight: 400;

                                                &:after {
                                                    content: "";
                                                    display: inline-block;
                                                    position: absolute;
                                                    width: 0;
                                                    bottom: 0;
                                                    height: 2px;
                                                    margin: 1px 0;
                                                    left: 0;
                                                    background-color: #DCBF85;
                                                    transition: all 0.4s ease-in 0s;
                                                }

                                                &:hover:after {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        .end-burger {
            margin-left: 50px;
            margin-right: 5px;
            height: 64px;
            display: flex;
            justify-content: flex-start;
            align-items: inherit;
            flex-direction: row;
        }

        .navbar-icons {
            margin-left: auto;
            height: 64px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;

            .right-icons {
                .icon-box {
                    margin-left: 5px;
                    margin-right: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .search-icon {
                        height: 21px;
                        width: 21px;
                    }

                    .icon-search:before {
                        content: "\e911";
                        font-size: 20px;
                        color: var(--nav-icons);
                    }

                    //.icon-accessability-icon:before {
                    //    content: "\e900";
                    //    position: absolute;
                    //    top: 50%;
                    //    right: 5%;
                    //    font-size: 17px;
                    //    color: var(--nav-icons);
                    //    border: 2px solid var(--nav-icons);
                    //    border-radius: 50%;
                    //}
                    .icon-user-logo-icon:before {
                        content: "\e91a";
                        font-size: 17px;
                        color: var(--nav-icons);
                        border: 2px solid var(--nav-icons);
                        border-radius: 50%;
                    }
                }
            }
        }
    }


}

.select-menu {
    .select-btn {
        display: flex;
        height: 20px;
        background: var(--bg-color);
        color: var(--text-menu);
        font-size: 18px;
        font-weight: 400;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;

        i {
            font-size: 25px;
            transition: 0.3s;
        }
    }

    .options {
        display: none;
        position: absolute;
        margin-top: 10px;
        border-radius: 8px;
        animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-duration: 0.35s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.35s;
        -webkit-animation-fill-mode: both;

        .option {
            display: flex;
            height: 45px;
            cursor: pointer;
            padding: 0 10px;
            align-items: center;
            background: var(--bg-color);

            i {
                font-size: 25px;
                margin-right: 12px;
            }

            .option-text {
                font-size: 18px;
                color: var(--text-menu);
                margin-left: 5px;
            }
        }
    }

}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    box-shadow: var(--nav-shadow);
    margin-left: -10px;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

.full-menu {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 64px;
    background: var(--bg-color);
    padding: 15px;
    z-index: 99999;
    box-shadow: var(--nav-shadow);
    border-top: var(--text-gold) solid 2px;

    &.active {
        display: block;
    }

    .full-menu-row {
        display: flex;
        width: 100%;

        .full-menu-col {
            width: 25%;

            .full-menu-ul {
                .full-menu-li {
                    margin-left: 10px;
                    padding-left: 0;
                    width: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    .full-menu-link {
                        position: relative;
                        color: var(--text-color);
                        font-size: var(--font-size4);
                        font-weight: bold;

                        &:after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            width: 0;
                            bottom: 0;
                            height: 2px;
                            margin: 1px 0;
                            left: 0;
                            background-color: #DCBF85;
                            transition: all 0.4s ease-in 0s;
                        }

                        &:hover:after {
                            width: 100%;
                        }
                    }

                    .mobile-submenu-ul {
                        .mobile-submenu-li {
                            margin-left: 10px;
                            padding-left: 0;
                            width: auto;
                            margin-top: 10px;
                            margin-bottom: 10px;

                            &:after {
                                margin: -1px 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.chevron-down {
    box-sizing: border-box;
    position: relative;
    display: none;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border-radius: 100px
}

.chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 5px;
    color: var(--text-menu);
}

@media only screen and (max-width: 600px) {
    .full-menu {
        overflow: auto;
        display: none;
        position: fixed;
        width: 80%;
        height: 100%;
        left: 0;
        top: 64px;
        border-top: var(--text-gold) solid 2px;
        box-shadow: var(--nav-shadow);
        .full-menu-bg {
            position: fixed;
            width: 20%;
            opacity: 0.8;
            right: 0;
            top: 64px;
            height: 100%;
            background: var(--mask-color);
        }

        .full-menu-row {
            width: 100%;
            display: block;

            .full-menu-col {
                width: 100%;

                .full-menu-li {
                    margin-left: 0 !important;
                }
            }
        }
        .chevron-down {
            display: block;
        }
    }
}
