//$bg-dark: #343D57;
$bg-dark: #343D57;
$bg-invert-dark: #000000;
$bg-grayscale-dark: #464646;

$text-dark: #FFFFFF;
$text-mute-dark: #848484;
$text-menu-dark: #ececec;
$text-link-dark: #5493CB;
$text-link-hover-dark: #56A1E3;
$text-gold-dark: #DCBF85;

$bg-component-dark-1: #DCBF85;
$bg-component-dark-2: #546083;
$bg-component-dark-3: #000000;
$bg-component-dark-4: #464646;
$bg-component-dark-5: #FFFFFF;
$bg-component-dark-6: #5493CB;
$bg-component-dark-7: #56A1E3;
$bg-component-dark-8: #5493CB;

$border-color-dark-1: #E3B351;
$border-color-dark-2: #ffffff;
$border-color-dark-3: #BABABA;
$border-color-dark-4: #3D569B;
$border-color-dark-5: #A7BCF8;
$border-color-dark-6: #1B7CD2;
$border-color-dark-7: #2B94F1;
$border-color-dark-8: #1E73BE;
