$bg-light: #FFFFFF;
$bg-invert-light: #000000;
$bg-grayscale-light: #464646;

$text-light: #2f2f2f;
$text-mute-light: #848484;
$text-menu-light: #484848;
$text-link-light: #5493CB;
$text-link-hover-light: #56a1e3;
$text-gold-light: #DCBF85;
$text-note-light: #848484;

$bg-component-light-1: #DCBF85;
$bg-component-light-2: #FFFFFF;
$bg-component-light-3: #000000;
$bg-component-light-4: #464646;
$bg-component-light-5: #546083;
$bg-component-light-6: #5493CB;
$bg-component-light-7: #56A1E3;
$bg-component-light-8: #5493CB;

$border-color-light-1: #E3B351;
$border-color-light-2: #BABABA;
$border-color-light-3: #EFECEC;
$border-color-light-4: #3D569B;
$border-color-light-5: #A7BCF8;
$border-color-light-6: #1B7CD2;
$border-color-light-7: #2B94F1;
$border-color-light-8: #1E73BE;
$border-color-light-9: #BABABA;

$mask-color-light: #464646;
$slider-color-light: #343D57;
$btn-bg-light: #343D57;

$nav-shadow-light: 0 4px 4px rgba(0, 0, 0, 0.25);
$footer-shadow-light: 0 0 10px rgba(0, 0, 0, 0.25);
