$bg-dark: #343D57;
$bg-light: #FFFFFF;
$bg-invert: #000000;
$bg-grayscale: #464646;


$text-dark: #FFFFFF;
$text-light: #000000;
$text-mute: #848484;
$text-link: #5493CB;
$text-link-hover: #56A1E3;
$text-gold: #DCBF85;
$text-menu: #484848;

$bg-component-1: #546083;
$bg-component-2: #FFFFFF;
$bg-component-3: #000000;
$bg-component-4: #464646;
$bg-component-5: #DCBF85;
$bg-component-6: #5493CB;
$bg-component-7: #56A1E3;
$bg-component-8: #5493CB;

$border-color-1: #A7BCF8;
$border-color-2: #EFECEC;
$border-color-3: #BABABA;
$border-color-4: #3D569B;
$border-color-5: #E3B351;
$border-color-6: #1B7CD2;
$border-color-7: #2B94F1;
$border-color-8: #1E73BE;
