.fs-list-1 {
    --font-size1: 14px;
    --font-size2: 18px;
    --font-size3: 22px;
    --font-size4: 26px;
    --font-size5: 30px;
}

.fs-list-2 {
    --font-size1: 18px;
    --font-size2: 22px;
    --font-size3: 26px;
    --font-size4: 30px;
    --font-size5: 34px;
}

.fs-list-3 {
    --font-size1: 22px;
    --font-size2: 26px;
    --font-size3: 32px;
    --font-size4: 36px;
    --font-size5: 40px;
}

.size1 {
    font-size: var(--font-size1);
}

.size2 {
    font-size: var(--font-size2);
}

.size3 {
    font-size: var(--font-size3);
}

.size4 {
    font-size: var(--font-size4);
}

.size5 {
    font-size: var(--font-size5);
}

